<div class="card shadow">
  <div class="card-header text-center mb-2  ">
    <h1><strong>All Services of <%= @hotel.name %></strong></h1>
  </div>

  <% if can? :create, Room %>
    <div>
      <%= link_to "New Service", new_hotel_service_path(@hotel), class: 'btn btn-primary mb-3 end-0' %>
    </div>
  <% end %>
  <% if @services.empty? %>
    <h1>Now! Hotel have no services.</h1>
  <% else %>    
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5 ">
      <% @services.each do |service| %>
        <div class="col">
          <div class="card h-100 shadow ">
            <% if service.service_picture.attached? %>
              <%= image_tag service.service_picture, alt: 'service_picture', class: 'card-img-top', style: "width: auto; height: 300px;" %>
            <% else %>
                <%= image_tag "service/default_service_image", class: 'card-img', style: "width: auto; height: 300px;" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><strong><%= service.name %></strong></h5>
              <p class="card-text"><%= service.description[0, 40] %>....</p>
              <%= link_to "Show this service", hotel_service_path(@hotel, service),class:'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
