<div class="col-lg-auto mx-lg-auto ">
  <div class="card shadow ">
    <div class="card-header text-center mb-3">
      <h1><strong>Service</strong></h1>
    </div>
    <div class="row row-cols-1 row-cols-md-auto g-4 mb-5 p-3  ">
      <div class="col">
        <div class="card h-100 " style="background-color: lightgray;">  
          <div class="card-body">
            <h5 class="card-title"><strong>Service name: </strong><%= @service.name %></h5>
            <h6 class="card-title"><strong>Hotel name: </strong><%= @service.hotel.name %></h6>
            <p class="card-text"><strong>Description: </strong><%= @service.description %></p>
            <% if can? :update, @service %>
              <%= link_to "Edit this service", edit_hotel_service_path(@hotel, @service),class:'btn btn-primary' %>
            <% end %>
            <%= link_to "Back to services", hotel_services_path,class:'btn btn-primary' %>
            <% if can? :destroy, @service %>
              <%=  link_to "Destroy this service", hotel_service_path(@hotel, @service), data:{ turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:'btn btn-danger' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>