<p style="color: green"><%= notice %></p>
<div class="card text-light text-center lg-auto shadow bg-primary">
  <h1>Bookings</h1>
</div>
<div class="card shadow mt-3">
  <div class="table-responsive">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>Guests</th>
          <th>Hotel</th>
          <th>Room</th>
          <th>Price / Day</th>
          <th>Check-in</th>
          <th>Check-out</th>
          <th>Total Amount</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.user.name %></td>
            <td><%= booking.room.hotel.name %></td>
            <td><%= booking.room.room_type.name %></td>
            <td><%= booking.room.room_type.price %></td>
            <td><%= booking.start_date %></td>
            <td><%= booking.end_date %></td>
            <td><%= ((booking.end_date.to_date - booking.start_date.to_date).to_i+1) * (booking.room.room_type.price) %></td>
            <td><%= booking.status %></td>
            <td><%= link_to 'Show more', hotel_room_booking_path(booking.room.hotel,booking.room, booking), class: 'btn btn-info' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
