<div class="card text-light text-center lg-auto shadow bg-primary mt-5">
  <h1>Bookings</h1>
</div>
<div class="card shadow mt-3">
  <div class="card-header">
    <% if can? :create, Booking %>
      <%= link_to "New booking", new_hotel_room_booking_path(@room.hotel, @room), class: 'btn btn-primary' %>
    <% end %>
  </div>  
  <div class="card text-center mb-3">
    <table class="table table-responsive">
      <thead class="table-dark">
        <tr>
          <th>Hotel</th>
          <th>Room</th>
          <th>Price / Day</th>
          <th>Check-in</th>
          <th>Check-out</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.room.hotel.name %></td>
            <td><%= booking.room.room_type.name %></td>
            <td><%= booking.room.room_type.price %></td>
            <td><%= booking.start_date %></td>
            <td><%= booking.end_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @bookings %>
  </div>  
</div>
