<nav class="navbar navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <%= link_to "Hotel Management", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if current_user %>
            <% if current_user.admin? %>
              <li class="nav-item active">
                <%= link_to "Home", admin_dashboard_index_path, class:'nav-link active' %>
              </li>
              <li class="nav-item dropdown ">
              <%= link_to "Hotels", hotels_path, class:'nav-link active' %>
              </li>
              <li class="nav-item">
                <%= link_to "Room Type", room_types_path, class:'nav-link active' %>
              </li>
              <li class="nav-item">
                <a class="nav-link active " href="#">Booking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active " href="#">Payments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active " href="#">Users</a>
              </li>

            <% elsif current_user.manager? %>
              <li class="nav-item active">
                <%= link_to "Home", manager_dashboard_index_path, class:'nav-link active' %>
              </li>
              <li class="nav-item">
                <a class="nav-link active " href="#">Booking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active " href="#">Payments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active " href="#">Users</a>
              </li>          
            <% else %>
              <li class="nav-item active">
                <%= link_to "Home", customer_dashboard_index_path, class:'nav-link active' %>
              </li>
              <li class="nav-item dropdown ">
              <%= link_to "Hotels", hotels_path, class:'nav-link active' %>
              </li>
              <li class="nav-item">
                <a class="nav-link active " href="#">Booking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active " href="#">Payments</a>
              </li>
            <% end %>
            

          <% else %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class:'nav-link active' %>
          </li>
          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link active"  %>
          </li>
          <li class="nav-item">
              <%= link_to "Services", home_service_path, class: "nav-link active" %>
          </li>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link active"  %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "Contact us", contact_path, class: "nav-link active" %>
            </li> 
          <% end %>  
        </ul>
        <ul class="navbar-nav d-flex">
          <% if current_user %>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <strong><%= current_user&.role.capitalize %>: </strong><%= current_user&.name %>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", profile_path, class:'dropdown-item' %></li>  
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Log Out",destroy_user_session_path, 'data-turbo-method': :delete, class: "dropdown-item " %>
              </ul>
            </li>    
          <% end %>  
        </ul>
    </div>       
  </div>
</nav>