<div class="col-lg-auto mx-lg-auto ">
  <div class="card shadow ">
    <div class="card-header text-center mb-3">
      <h1><strong>Room type</strong></h1>
    </div>
    <div class="row row-cols-1 row-cols-md-auto g-4 mb-5 p-3  ">
      <div class="col">
        <div class="card h-100 " style="background-color: lightgray;">  
          <div class="card-body">
            <h5 class="card-title"><strong>Room type: </strong><%= @room_type.name %></h5>
            <h6 class="card-title"><strong>Description: </strong><%= @room_type.description%></h6>
            <p class="card-text"><strong>Capacity: </strong><%= @room_type.capacity %> members.</p>
            <p class="card-text"><strong>Price: </strong><%= @room_type.price %></p>
            <%= link_to "Edit this room type", edit_room_type_path(@room_type), class:'btn btn-primary' %>
            <%= link_to "Back to room types", room_types_path, class:'btn btn-primary' %>
            <%= button_to "Destroy this room type", @room_type, method: :delete, class: 'btn btn-danger mt-3' %>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>