<div id="<%= dom_id payment %>">
  <p>
    <strong>Card holder name:</strong>
    <%= payment.card_holder_name %>
  </p>
  <p>
    <strong>Card number:</strong>
    <%= payment.card_number %>
  </p>

  <p>
    <strong>Cvv:</strong>
    <%= payment.cvv %>
  </p>

  <p>
    <strong>Bank name:</strong>
    <%= payment.bank_name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Payment date:</strong>
    <%= payment.payment_date %>
  </p>

  <p>
    <strong>Booking:</strong>
    <%= payment.booking_id %>
  </p>

</div>
