<div class="card text-center lg-auto shadow mt-5 bg-primary text-light">
  <h1>Payments</h1>
</div>
<div class="card shadow mt-3">
  <div class="table-responsive">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>Guest</th>
          <th>Hotel</th>
          <th>Room</th>
          <th>Bank name</th>
          <th>Amount</th>
          <th>Payment Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @payments.each do |payment| %>
          <tr>
            <td><%= payment.booking.user.name %></td>
            <td><%= payment.booking.room.hotel.name %></td>
            <td><%= payment.booking.room.room_type.name %></td>
            <td><%= payment.bank_name %></td>
            <td><%= payment.amount %>
            <td><%= payment.payment_date %></td>
            <td><%= link_to "Invoice Download" ,invoice_path(payment.booking, payment, format: :pdf), download: true , class:'btn btn-primary'%></td>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @payments %>
</div>
