<div class="card shadow mt-5">
  <div class="card-header text-center mb-2  ">
    <h1><strong>All Rooms</strong></h1>
  </div>
  <% if can? :create, Room %>
    <div>
      <%= link_to "New room", new_hotel_room_path(@hotel), class: 'btn btn-primary mb-3 end-0' %>
    </div>
  <% end %>
  <% if @rooms.empty? %>
    <h1>Now! Hotel have no room.</h1>
  <% else %>    
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5 ">
      <% @rooms.each do |room| %>
        <div class="col">
          <div class="card h-100 shadow ">
            <% if room.room_pictures.attached? %>
            <%= image_tag room.room_pictures.sample, alt: 'room_picture', class: 'card-img-top', style: "width: auto; height: 300px;" %>
            <% else %>
              <%= image_tag "", alt: 'room_picture', class: 'card-img-top', style: "width: auto; height: 300px;" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><strong>Room number: </strong><%= room.room_number %></h5>
              <p class="card-text"><strong>Room Type: </strong><%= room.room_type.name %></p>
              <p class="card-text"><strong>Room Status: </strong><%= room.status %></p>
              <p class="card-text"><strong>Room Description</strong><%= room.room_type.description[0,60] %>...</p>
              <%= link_to "More", hotel_room_path(@hotel, room), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= paginate @rooms %>