<div class="card text-center mb-3">
  <h1><strong>Room Details</strong></h1>
</div>
<div class="card mb-3 shadow" style="max-width: auto;">
  <div class="row g-0 justify-content-between">
    <div class="col-md-4 shadow">
      <% if @room.room_pictures.attached? %>
        <%= image_tag @room.room_pictures.sample, alt: 'rooms_picture', class: 'img-fluid rounded-star shadow', style: "width: 500px; height: 400px;" %>
      <% else %>
        <%= image_tag "room_type/default_room_image", class: 'img-fluid rounded-star', style: "width: 500px; height: 300px;" %>
      <% end %>
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title"><strong>Room num ber: </strong><%= @room.room_number %></h5>
        <h6 class="card-title"><strong>Hotel name: </strong><%= @room.hotel.name %></h6>
        <p class="card-text"><strong>Room Type: </strong><%= @room.room_type.name %></p>
        <p class="card-text"><strong>Room Description: </strong><%= @room.room_type.description %></p>
        <p class="card-text"><strong>Room Capacity: </strong><%= @room.room_type.capacity %></p>
        <p class="card-text"><strong>Room price: </strong><%= @room.room_type.price %></p>
        <p class="card-text"><strong>Room Status: </strong><%= @room.status %></p>
        <% if can? :update, @room %>
          <%= link_to "Edit this room", edit_hotel_room_path(@hotel, @room),class:'btn btn-primary' %>
        <% end %>
        <% if can? :destroy, @room %>
          <%=  link_to "Destroy this room", hotel_room_path(@hotel, @room), data:{ turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class:'btn btn-danger' %>
        <% end %>
        <%= link_to "Back to rooms", hotel_rooms_path, class:'btn btn-primary' %>
        <%= link_to "Book Room", new_hotel_room_booking_path(@room.hotel, @room), class: 'btn btn-primary' %>
        <%= link_to "Show Book", hotel_room_bookings_path(@room.hotel, @room), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
