<tr>
  <td><%= hotel.name %></td>
  <td><%= hotel.email %></td>
  <td><%= hotel.telephone %></td>
  <td><%= hotel.location %></td>
  <td><%= hotel.city %></td>
  <td><%= hotel.state %></td>
  <td><%= hotel.zipcode %></td>
  <td><%= link_to hotel do %>
      <i class="fas fa-eye fa-2x"></i>
      <% end %>
  </td>
</tr>