<div class="card shadow">
  <div class="card-header text-center mb-2  ">
    <h1><strong>All Hotels</strong></h1>
  </div>

  <% if can? :create, Hotel %>
    <div>
      <%= link_to "New hotel", new_hotel_path, class: 'btn btn-primary mb-3 end-0' %>
    </div>
  <% end %>   
  <% @hotels.each do |hotel| %>
    <div class="card mb-3 shadow" style="max-width: auto;">
      <div class="row g-0 justify-content-between" >
        <div class="col-md-5 ">
          <% if hotel.hotel_pictures.attached? %>
            <%= image_tag hotel.hotel_pictures.sample, alt: 'room_picture', class: 'img-fluid rounded-star', style: "width: 700px; height: 350px;" %>
          <% else %>
              <%= image_tag "room_type/default_room_image", class: 'img-fluid rounded-star', style: "width: 700px; height: 350px;"%>
          <% end %>
        </div>
        <div class="col-md-4 ">
          <div class="card-body ">
            <h5 class="card-title"><strong>Hotel Name: </strong><%= hotel.name %></h5>
            <p class="card-text"><strong>Email: </strong><%= hotel.email %></p>
            <p class="card-text"><strong>Tele-Phone: </strong><%= hotel.telephone %></p>
            <p class="card-text"><strong>Location: </strong><%= hotel.location %></p>
            <p class="card-text"><strong>City: </strong><%= hotel.city %></p>
            <p class="card-text"><strong>State: </strong><%= hotel.state %></p>
            <p class="card-text"><strong>Zipcode: </strong><%= hotel.zipcode %></p>
            <%= link_to "Book", hotel, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>