<div class="card mt-5" style="max-width: auto;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag 'portfolio/portfolio-3.jpg', style:'height: 250px; width: auto;' %>
    </div>
    <div class="col">
      <div class="card-body">
        <h3 class="card-title"><strong>Hotel name: </strong><%= @hotel.name %></h3>
        <h4 class='card-title'><strong>Email: </strong><%= @hotel.email %></h4>
        <h4 class='card-title'><strong>Telephone: </strong><%= @hotel.telephone %></h4>
        <p class='card-title'><strong>Location: </strong><%= @hotel.location %> <strong>City: </strong><%= @hotel.city %> <strong>State: </strong> <%= @hotel.state %> <strong>Zipcode: </strong><%= @hotel.zipcode %>.</p>

        <p class="card-text"><strong>Description: </strong><%= @hotel.description %></p>
        <% if can? :update, @hotel %>
          <%= link_to "Edit this hotel", edit_hotel_path(@hotel), class: 'btn btn-success' %>
        <% end %>

        <% if can? :destroy, @hotel %>
          <%= link_to "Destroy this hotel", @hotel, data: { turbo_method: :delete, turbo_confirm: "Are you sure to delete?" }, class: 'btn btn-danger' %>
        <% end %>
        <%= link_to "Show room", hotel_rooms_path(@hotel), class:'btn btn-warning' %>
        <%= link_to "Back to hotels", hotels_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <div class="card shadow">
    <div class="card-header text-center mb-2  ">
      <h1><strong>All Services of <%= @hotel.name %></strong></h1>
    </div>

    <% if can? :create, @service %>
      <div>
        <%= link_to "New Service", new_hotel_service_path(@hotel), class: 'btn btn-primary mb-3 end-0' %>
      </div>
    <% end %>
    <% if @services.empty? %>
      <h1>Now! Hotel have no services.</h1>
    <% else %>    
      <div class="row row-cols-2 row-cols-md-4 g-4 mb-5 ">
        <% @services.each do |service| %>
          <div class="col">
            <div class="card h-100 " style="background-color: lightgray;">  
              <div class="card-body">
                <h5 class="card-title"><strong><%= service.name %></strong></h5>
                <p class="card-text"><%= service.description %></p>
                <%= link_to "Show this service", hotel_service_path(@hotel, service),class:'btn btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
